{% extends 'chat/index.html' %}
{% load static %}
{% block title %}Chat Page{% endblock title %}
{% block styles %}
{%endblock styles %}
{% block script %}
<script defer type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{%endblock script %}

{% block content %}
<h1>
  Chat Page
</h1>


{{ room_name|json_script:"room-name" }}
{{ room.id|json_script:"room-id" }}
{{ user.username|json_script:"user" }}
{{ user.id|json_script:"user-id" }}
<div class="section py-5">
  <div class="row">

    <div class="col-3">
      <div class="card p-3 ">
        <ol>

          {% for room in rooms %}
          {% if request.user in room.members.all %}
          <li>
            <a href="{%url 'chat' room.room_name  %}">
              {{room.room_name | capfirst}}
            </a> with:
            <div class="chats py-2">
              {% for user in room.members.all %}
              <div class="chat-members py-1">
                <div class="avatar">
                  <div class="status">
                    {% if user.profile.is_online %}
                    <i title="{{user}} is online" class="material-icons md-dark md-18 tooltip">face</i>
                    {% else %}
                    <i title="{{user}} is offline"
                      class="material-icons md-dark md-18   md-inactive circle tooltip">face</i>
                    {% endif %}
                  </div>
                </div>
                <img id="{{user.id}}" src="{% static  user.profile.avatar.url %}" class="rounded-circle avatar col-2">
                <span class="chat-member col-6">
                  {{user}}
                </span>

              </div>
              {% endfor %}

            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ol>

      </div>
    </div>

    <div class="col-9">
      <div class="card p-3 ">
        <div class="" style="height: 75vh;">
          {% block messages %}
          {% include 'chat/messages.html'%}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- {#% block hide %}hide{#% endblock %}"  -->
<h3 class="my-5">
  Create a new room
</h3>
<a href="{%url 'room'%}">
  <div class="d-grid gap-2">
    <button id="create-room" class="btn btn-lg btn-primary" type="submit">Create</button>
  </div>
</a>
{% endblock %}